#header {
  clear:both;
  text-align:center;
}
#nav {
  padding:0px 10px;
  float:left;
  background-color:rgb(200, 200, 200);
  text-align:center;
  border: 5px rgb(230, 230, 230) solid;
}
#nav a {
  display:block;
}
#main {
  height:100px;
  float:none;
  background-color: rgb(200, 200, 200);
  text-align:center;
  border: 5px rgb(230, 230, 230) solid;
}
