/* setting up a fixed width */
body {
  width: 1020px;
  margin: 50px auto;
  background-color: gray;
}

/* main element setup */
header, main, aside, footer {
  text-align: center;
  background-color: rgb(200, 200, 200);
  border: 5px solid black;
}

header {
  width: 1010px;
  height: 200px;
  vertical-align: middle;
  background-image: linear-gradient(0deg, lightgray, gray);
  color:black;
}

main {
  float:left;
  width:670px;
  min-height: 500px;
}

aside {
  float:left;
  width: 335px;
  min-height: 500px;
  border-left: none;
}
footer {
  clear:both;
  width: 1010px;
  min-height: 40px;
}

/* extra stuff */
header, footer {
  display:table;
}

#headerText, footer p {
  display:table-cell;
  vertical-align: middle;
}

main, aside, footer {
  border-top: none;
}
